
#wrapper {
	width: 400px;
	margin: 0 auto;
}
#display {
	padding: 25px;
	border: 1px solid gray;
}
select {
	font-size: 32px;
	margin: 25px 0;
}
#display {
	visibility: hidden;
	background-repeat: no-repeat;
	background-position: right top;
}
td {
	width: 100px;
}
td:nth-child(2) {
	text-align: right;
}

